<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Posts</h1>
            <ul id="postlist">
                <% postList.results.forEach(function(post) {%>
                    <li class="container">

                        <%= Object.values(post).slice(1, 2) %>
                            <br>
                            <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss" ) %>
                                <br>
                                <%=Object.values(post.postedBy).slice(1, 3) %>
                                    <p> Liked by: <%=post.likedBy.length%>
                                            <% for (let i=0; i < post.likedBy.length; i++) { if (post.likedBy[i]) { %>
                                                <%= post.likedBy[i].name %>,
                                                    <% }} %>
                                                        <br>
                                                        Disliked by: <%=post.dislikedBy.length%>
                                                            <% for (let i=0; i < post.dislikedBy.length; i++) { if
                                                                (post.dislikedBy[i]) { %>
                                                                <%= post.dislikedBy[i].name %>,
                                                                    <% }} %>
                                    </p>
                                    <img src=<%=post.imageUrl %> alt="User uploaded image"><br>
                                    <form method="post" class="buttonform" action="/posts/<%=post.id%>/like/">
                                        <button type="submit" class="buttons" id="likebutton">Like</button>
                                    </form>
                                    <form method="post" class="buttonform" action="/posts/<%=post.id%>/like/">
                                        <button type="submit" class="buttons" id="dislikebutton">Dislike</button>
                                    </form>
                    </li>
                    <% }); %>
            </ul>
            <%if (postList.next) { %>
                <a href="<%= postList.next %>">Next</a>
                <% } %>
                    <%if (postList.previous) { %>
                        <a href="<%= postList.previous %>">Previous</a>
                        <% } %>
        </body>
        <%- include('_footer') -%>

</html>