<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>
        <div class="userprofile">

            <body id="profileBody">

                <img class="userprofilecoverimg" id="coverimg" src="<%= coverImageUrl %>" alt="Cover image">

                <img id="userprofileimage" src="<%= profileImageUrl %>" alt="Profile image">

                <div id="userinfo">
                    <h3>
                        <%= name %>
                    </h3>
                    <p>
                        <b>
                            <%= username %>
                        </b>
                    </p>
                    <p>
                        <%= email %>
                    </p>
                </div>


                <h1 class="userposts">
                    <%= name %>'s Posts
                </h1>

                <ul class="ouruserposts">
                    <li class="specificposts">
                        <img id="userpostimg" src=<%=posts[0].imageUrl %> alt="User uploaded image">
                        <div id="postUserName">
                            <%= username %>
                        </div>
                        <div id="userpostdate">
                            <%= posts[0].createdAt.toLocaleDateString() %>
                        </div>
                                    <div id="userpostmessage">
                                        <%= posts[0].message %>
                                    </div>
                    </li>
                </ul>

                <h1 class="userlikedposts">
                    Posts <%= name %> Liked
                </h1>

                <h1 class="userdislikedposts">
                    Posts <%= name %> Disliked
                </h1>



            </body>

            <%- include('_footer') -%>
        </div>


</html>